<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles/index.css">
    <title>Server Inspector</title>
</head>
<body>
    <form action="/Register" method="post" autocapitalize="false" style="height: 340px;">
      <div class="label">
      <% if (message) { %>
        <b style="color:#e65555"><%= message %></b>
      <% } %>
      </div>

      <div class="label">
        <label for="regsiterUsername">Username</label>
        <input type="text" id="regsiterUsername" name="regsiterUsername" placeholder="Enter your username">
      </div>

      <div class="label">
      <label for="regsiterPassword">Password</label>
      <input type="password" id="regsiterPassword" name="regsiterPassword" placeholder="Enter your password">
      </div>

      <div class="label">
        <label for="confirmPassword">Confirm password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password">
      </div>

      <button type="submit"><b>Register</b></button>
      <br/>
      <small>Already have an account? <a href="/Login">Login</a></small>

    </form>
</body>
</html>