body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: black;
    background-color: darkgray;
  }

  form{
    background-color: #4f4f4f;;
    width: 400px;
    height: 250px;
    display: grid;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  }

  form div.row{
    text-align: start;
  }

  form div button{
    background-color: #c6aadd;
    color: #424242;;   
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    transition: background-color 0.7s ease;;
  }

  button:hover {
    background-color: red; /* Change the background color on hover */
    transform: scale(1.1); /* Apply a scale transform on hover */
  }
  
  form div.button{
    text-align: end;
  }
  /* Center the h1 element */
  h1 {
    text-align: left;
  }
  
  .container{
    display: flex;
    align-items: start;
    justify-content: left;
    width: 40%;
    height: 20%;
  }
  /* Style the rows containing the temperature and humidity output */
  .row {
    display: inline-flexbox;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    margin-right: 10px;
  }
  
  /* Style the labels */
  .row label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  /* Style the temperature and humidity output */
  .row a {
    color: white;
  }

  