<!DOCTYPE html>
<html>
<head>
    <title>Server Inspector</title>
    <style>
      body {
        background-color: #6c9484;
      }
      form {
        background-color: #325346;
        width: 400px;
        height: 250px;
        display: grid;
        margin: 50px auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);       
      }
      div.label{
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
      label {
        display: block;
        font-weight: bold;
        margin-bottom: 10px;
        color: white;
      }
      input[type="text"],
      input[type="password"] {
        background-color: #FEFBD0;
        padding: 10px;
        margin-bottom: 20px;
        width: 95%;
        border-radius: 5px;
        border: none;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
      }
      button[type="submit"] {
        background-color: #ffc4b3;
        color: #424242;;   
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
      }
      button[type="submit"]:hover {
        background-color: #da9c7b;
      }
    </style>
</head>
<body>
    <form action="/Information" method="post" autocapitalize="false">
      <div class="label">
      <% if (message) { %>
        <b style="color:#e65555"><%= message %></b>
      <% } %>
      </div>

      <div class="label">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter your username">
      </div>

      <div class="label">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Enter your password">
      </div>

      <button type="submit"><b>Login</b></button>

    </form>
</body>
</html>